body {
    background-color: white;
}

#game-area {
    width: 80%;
    height: 85vh;
    border: 2px solid black;
    background-size: cover;
    background-position: center;
}

.game-board {
    display: grid;
    gap: 5px; /* Spazio tra le celle */
    width: 50%; /* Larghezza della griglia */
    height: 50%; /* Altezza della griglia */
    margin: 0 auto;
    margin-top: 20px;
    grid-template-columns: repeat(6, 1fr); /* 6 colonne di uguale larghezza */
    grid-template-rows: repeat(6, 1fr); /* 6 righe di uguale altezza */
}

.grid-cell {
    background-color: rgba(211, 211, 211, 0.5);
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
}